
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.eot');
  src: url('/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Poppins-Light.woff2') format('woff2'),
  url('/fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.eot');
  src: url('/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Poppins-Regular.woff2') format('woff2'),
  url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.eot');
  src: url('/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Poppins-Medium.woff2') format('woff2'),
  url('/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.eot');
  src: url('/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Poppins-Bold.woff2') format('woff2'),
  url('/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
